.handorgel .accordion {
    display: none;
    overflow: hidden;
    height: 0;
    transition: height .1s ease .1s;
}

.handorgel .accordion.open {
    display: block;
    transition: height .2s ease;
}

.handorgel .accordion.active {
    overflow: visible;
}
